<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="About The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>About - The Investment Society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

  <body>
    <style>
      *{
        list-style: none;
      }
      body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: #6C7884;
    text-align: start;
    }
    

    
    .about-div{
      margin: 0;
      width: 100vw;
      margin-top: 6rem;
    }
    .about-sub-div-1{
      padding: 3rem;
    }
    .about-sub-div-2{
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661273/DSC_0499_y7zkej.jpg');
      height: 30rem;
      background-size: cover;
}
    
    h1, h2{
      color: white;
      font-weight: 300;
      text-align: center;
    }
    
    .wine{
      font-weight: 600;
      color: #AB324F;
    }
    h3, h6{
      color: #333D47;
    }
    .h9{
      font-size: 20px;
    }
    h6, h4{
      font-weight: 900;
    }
    .div{
      height: auto;
      width: 100%;
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1598365644/Background_header_ykzygz.png');
      padding: 10px;
      
    }

    .register-link{
      color: rgb(160, 17, 70);
    }

    
    @media screen and (max-width:768px){
      
   
     

    h1{
      font-size: 25px;
    }
    .h9{
      font-size: 15px;
    }
    h2{
      font-size: 20px;
    }

    .about-div{
      margin: 0;
      width: 100vw;
      flex-direction: column-reverse;
    }
    .about-sub-div-1{
      padding: 1rem;
    }
    .about-sub-div-2{
      
      height: 20rem;
    }

    .div{
      height: auto;
      width: 100%;
     
      padding: 10px;
      
    }
    

    }
    
    </style>

      <div class="content">
          <header class="header"><nav >
            <div class="logo-div">
              
         <a href="/home"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo"></a> 
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link" href="/home">Home</a></li>
              <li class=""><a class="nav-link active" href="/about">About</a></li>
              <li class=""><a class="nav-link" href="/team">Team</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
              <li class=""><a class="nav-link" id="join-link" href="/join">Join Us </a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home">Home</a>
                <a class="dropdown-item actives" href="/about">About</a>
                <a class="dropdown-item" href="/team">Team</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
                <a class="dropdown-item" id="join-link" href="/join">Join Us</a>
              </div>
            </div>
          </nav>
        
        </header>

          
        
          <div>
            <div class="div div1" >
              <br><br>
              <h1>About the Investment Society</h1>
              <br><br>
            </div>
            
            
            <div class="about-div row">
              <div class="col-sm-6 about-sub-div-1">
                <br>
                <h6><span class="wine">About TIS</span></h6>
                <p>We are a multi-disciplinary and academically diverse
                society founded in 2016 by a group of University of Lagos students keen on
                sharing and expanding their knowledge of investment, finance and
                consulting.</p>
    
                <p>First of its kind in any Nigerian University, we aim to teach, educate, groom
                  and prepare members for elite careers in finance, investment and consulting.
                  As a society that thrives on knowledge; we also aim to provide our members with
                  the strong foundation necessary to lunch a successful career - whilst also
                  working hard to achieve excellent academic grades.</p>
    
                <p>We aim to bridge the gap between the industry and aspiring investment,
                finance and consulting professionals through sponsor-led workshops,
                intensive training programs, stock pitches, business case competitions,
                networking sessions, and on-campus recruiting events.
                </p>
              </div>
              <div class="col-sm-6 about-sub-div-2"></div>
            </div>

              <br><br>
            <div>
              <h2><span class="wine">Our Operations</span></h2>
            </div>
            <p> 
              
              <ul class="container">
                <li><h6>Research Morning Meetings</h6>
                  The Society’s Research Team
                  meet daily from 6am to 7am beside 
                  The Amphitheatre to discuss and
                  share ideas about the Local
                  and Global Equities, Fixed
                  income, Currencies and
                  Commodities Markets as well as
                  discussions around local and
                  global economy and investment
                  banking activities.</li><br>
                <li><h6>Video Market Update</h6>
                  We share our views on market
                  activities “Markets in 60
                  seconds” via social media on <a href="https://twitter.com/tisunilag?lang=en" class="register-link">Twitter</a> and
                  <a class="register-link" href="https://www.instagram.com/tisunilag/?hl=en">Instagram</a>.
                  Weekly update meetings and
                  sessions about the general
                  activities for the society. We
                  also organize skills and career
                  workshops for our members. Click <a class="register-link" href="#">here</a> to
                subscribe to our Newsletter.</li><br>
                <li><h6>Insight Days</h6>
                  Monthly corporate visits to
                  major investment banks and
                  financial institutions for
                  knowledge acquisition and
                  network.</li><br>
                <li><h6>Campus to Corporate Sessions</h6>
                  We invite CEOs and industry
                  professionals to share their
                  experiences and engage in
                  relevant intellectual Sponsor-led Trainings and
                  Workshops we welcome sponsored
                  trainings from our partners.</li><br>
                <li><h6>TIS Academy (The Brewery)</h6>
                  An internal training to help
                  develop the technical and soft
                  skills of our members.</li><br>
                  <li><h6>Financial Literacy Day</h6>
                    Our Corporate Social
                    Responsibility to secondary
                    schools where we educate them
                    on the importance of saving and
                    investing.</li><br>
                  <li><h6>The Colloquium</h6>
                    Our yearly sub-Saharan African
                    Conference where we invite
                    major finance stakeholders
                    and undergraduate delegates
                    across Africa to discuss finance
                    issues and events as well as
                    proffer solutions to imminent
                    problems, <a class="register-link" href="/register">Register here</a>.</li><br>
                  <li><h6>CFA Ethics and Research</h6>
                    Challenge Our members are
                    groomed to represent the school
                    at these competitions
                    Internship Preparation.</li><br>
                  <li><h6>Placement</h6>
                    We encourage our members to
                    apply for internships and
                    prepare them adequately.</li><br>
              </ul>

              </p>
              
              <div>
                <h2><span class="wine">Core Divisions</span></h2>
              </div>
              <p>
                
                <ul class="container">
                  <li><h6>Investment Banking</h6>
                    The investment banking division of TIS has the responsibility of
                    mirroring actual investment banking activities through Mergers
                    and Acquisitions and capital raising simulations. They update
                    the general society on investment banking activities such as
                    IPOs and M&As. Meetings are held on wednesday, 7pm to 9pm at the 
                    Faculty of Social Sciences Relaxation Centre.
                  </li><br>
                  <li><h6>Securities</h6>
                    The securities division is responsible for researching, investing
                    and trading different asset classes including Equities, Fixed
                    Income, Currencies and Commodities on behalf of the society.
                    They present their research views and trade recommendation
                    to the society for approval to invest her funds.</li><br>
                  <li><h6>Management Consulting</h6>
                    The management consulting division is poised with the
                    responsibility of mirroring real life case situations and proffer solutions
                    accordingly.</li><br>
                  <li><h6>Alternative Investments</h6>
                    This divisions is responsible for researching and discussing viable and alternative
                    ways of investing.</li><br>
                </ul>

                
                <div>
                  <h2><span class="wine">Back-Office Divisions</span></h2>
                </div>
                <br>
                  <ul class="container">
                    <li><h6>Human Resources</h6>
                      The people management division is responsible for recruiting,
                      screening, interviewing and placing analysts into divisions based
                      on their personalities, career goals and needs in that division.
                      They coordinate administrative functions of the society.</li><br>
                    <li><h6>Media and Technology</h6>
                      This division supports all other divisions with promotional
                      materials – graphics, photography, videography, social media
                      management and tech solutions – websites, online forms.</li><br>
                    <li><h6>Programs</h6>
                      All our programs, events and fun activities are duly organised
                      and managed by the Programs division.</li><br>
                    <li><h6>Corporate Communications</h6>
                      Dissemination of information and public relations is the core of
                      the corporate communications division.</li><br>
                  </ul>
 
 
 
 

              </p>
              
            </div>
            <br>
            <br>
            <br>
            <footer class="newsletter page-footer">
              <br><br>
              <form action="/action_page.php">
                <h6>Subscribe to our Newsletter</h6>
                <div class="form-group container">
                  <input type="email" class="form-control input-subscribe" placeholder="Email Address" id="email">
                  <br>
                  <button type="submit" class="btn btn-primary btn-subscribe">Subscribe</button>
                </div>
                
                <br><br>
              </form>
            </footer>
          
      </div>
      

      
      
      
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>
