<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="About The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>About Us - The Investment Society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

  <body>
    <style>
      body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    font-family: 'Quicksand', sans-serif;
    }
    .container{
      color: #707070;
    }
    

    #mission-div{
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661298/mission_suzzff.png');
      height: 200px;
      background-size: cover;
    }

    #vision-div{
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661311/vision_jyysku.png');
      background-size: cover;
      height: 200px;
      
    }
    
    hr{
      border-top: 1px solid rgb(143, 142, 142);
    }
    h1, h2{
      color: white;
      font-weight: 300;
    }
    
    .wine{
      font-weight: 600;
      color: rgb(160, 17, 70);
    }
    h3, h6{
      color: #494747;
    }
    .h9{
      font-size: 20px;
    }
    h6, h4{
      font-weight: 900;
    }
    .div{
      height: auto;
      width: 100%;
      background-image: linear-gradient(to bottom right, rgb(160, 17, 70), #4614a0);
      padding: 10px;
      
    }

    .register-link{
      color: rgb(160, 17, 70);
    }

    
    @media screen and (max-width:768px){
      
   
     

    h1{
      font-size: 22px;
    }
    .h9{
      font-size: 15px;
    }
    h2{
      font-size: 20px;
    }

    .div{
      height: auto;
      width: 100%;
     
      padding: 10px;
      
    }
    

    }
    
    </style>

      <div class="content">
          <header class="header"><nav >
            <div class="logo-div">
              
         <a href="/home"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo"></a> 
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link" href="/home">Home</a></li>
              <li class=""><a class="nav-link active" href="/about">About us</a></li>
              <li class=""><a class="nav-link" href="/team">Team</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="/join">Join</a></li>
              <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home">Home</a>
                <a class="dropdown-item actives" href="/about">About us</a>
                <a class="dropdown-item" href="/team">Team</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/join">Join</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
            </div>
          </nav>
        
        </header>

          
        
          <div class="container">
            
            <br>
            <div class="div div1" >
              <h1><span class="h9">About</span> The Investment Society.</h1>
            </div>
            
            <hr>

            <p>
              
              <span class="wine">We</span> are a multi-disciplinary and academically diverse
            society founded in 2016 by a group of University of Lagos students keen on
            sharing and expanding their knowledge of investment, finance and
            consulting.</p>

            <p>First of its kind in any Nigerian University, we aim to teach, educate, groom
              and prepare members for elite careers in finance, investment and consulting.
              As a society that thrives on knowledge; we also aim to provide our members with
              the strong foundation necessary to lunch a successful career - whilst also
              working hard to achieve excellent academic grades.</p>

            <p>We aim to bridge the gap between the industry and aspiring investment,
            finance and consulting professionals through sponsor-led workshops,
            intensive training programs, stock pitches, business case competitions,
            networking sessions, and on-campus recruiting events.
            </p>
            <p>
              <div class="div" id="mission-div"  data-aos="fade-up"></div>
             
             To bridge the gap between theory and practice for members who hope to pursue
             careers in the investment banking, asset management and consulting.
            </p>
            <p>
              <div class="div" id="vision-div"></div>
             
              To raise identify and train the next generation of Financial decision makers
              and Consultants. We aim to achieve this vision by training, re-training and
              our members on the noble profession of Finance whilst achieving superb
              academic grades.
            </p>
              
            <div class="div div2">
              <h2>OUR OPERATIONS</h2>
            </div>
            <p> 
              
              <ul class="container">
                <li><h6>Research Morning Meetings</h6>
                  The Society’s Research Team
                  meet daily from 6am to 7am beside 
                  The Amphitheatre to discuss and
                  share ideas about the Local
                  and Global Equities, Fixed
                  income, Currencies and
                  Commodities Markets as well as
                  discussions around local and
                  global economy and investment
                  banking activities.</li><br>
                <li><h6>Video Market Update</h6>
                  We share our views on market
                  activities “Markets in 60
                  seconds” via social media on <a href="https://twitter.com/tisunilag?lang=en" class="register-link">Twitter</a> and
                  <a class="register-link" href="https://www.instagram.com/tisunilag/?hl=en">Instagram</a>.
                  Weekly update meetings and
                  sessions about the general
                  activities for the society. We
                  also organize skills and career
                  workshops for our members. Click <a class="register-link" href="#">here</a> to
                subscribe to our Newsletter.</li><br>
                <li><h6>Insight Days</h6>
                  Monthly corporate visits to
                  major investment banks and
                  financial institutions for
                  knowledge acquisition and
                  network.</li><br>
                <li><h6>Campus to Corporate Sessions</h6>
                  We invite CEOs and industry
                  professionals to share their
                  experiences and engage in
                  relevant intellectual Sponsor-led Trainings and
                  Workshops we welcome sponsored
                  trainings from our partners.</li><br>
                <li><h6>TIS Academy (The Brewery)</h6>
                  An internal training to help
                  develop the technical and soft
                  skills of our members.</li><br>
                  <li><h6>Financial Literacy Day</h6>
                    Our Corporate Social
                    Responsibility to secondary
                    schools where we educate them
                    on the importance of saving and
                    investing.</li><br>
                  <li><h6>The Colloquium</h6>
                    Our yearly sub-Saharan African
                    Conference where we invite
                    major finance stakeholders
                    and undergraduate delegates
                    across Africa to discuss finance
                    issues and events as well as
                    proffer solutions to imminent
                    problems, <a class="register-link" href="/register">Register here</a>.</li><br>
                  <li><h6>CFA Ethics and Research</h6>
                    Challenge Our members are
                    groomed to represent the school
                    at these competitions
                    Internship Preparation.</li><br>
                  <li><h6>Placement</h6>
                    We encourage our members to
                    apply for internships and
                    prepare them adequately.</li><br>
              </ul>

              </p>
              <div class="div div3">
                <h2>CORE DIVISIONS</h2>
              </div>
              <p>
                
                <ul class="container">
                  <li><h6>Investment Banking</h6>
                    The investment banking division of TIS has the responsibility of
                    mirroring actual investment banking activities through Mergers
                    and Acquisitions and capital raising simulations. They update
                    the general society on investment banking activities such as
                    IPOs and M&As. Meetings are held on wednesday, 7pm to 9pm at the 
                    Faculty of Social Sciences Relaxation Centre.
                  </li><br>
                  <li><h6>Securities</h6>
                    The securities division is responsible for researching, investing
                    and trading different asset classes including Equities, Fixed
                    Income, Currencies and Commodities on behalf of the society.
                    They present their research views and trade recommendation
                    to the society for approval to invest her funds.</li><br>
                  <li><h6>Management Consulting</h6>
                    The management consulting division is poised with the
                    responsibility of mirroring real life case situations and proffer solutions
                    accordingly.</li><br>
                  <li><h6>Alternative Investments</h6>
                    This divisions is responsible for researching and discussing viable and alternative
                    ways of investing.</li><br>
                </ul>

                <div class="div div4">
                  <h2>BACK-OFFICE DIVISIONS</h2>
                </div>
                <br>
                  <ul class="container">
                    <li><h6>Human Resources</h6>
                      The people management division is responsible for recruiting,
                      screening, interviewing and placing analysts into divisions based
                      on their personalities, career goals and needs in that division.
                      They coordinate administrative functions of the society.</li><br>
                    <li><h6>Media and Technology</h6>
                      This division supports all other divisions with promotional
                      materials – graphics, photography, videography, social media
                      management and tech solutions – websites, online forms.</li><br>
                    <li><h6>Programs</h6>
                      All our programs, events and fun activities are duly organised
                      and managed by the Programs division.</li><br>
                    <li><h6>Corporate Communications</h6>
                      Dissemination of information and public relations is the core of
                      the corporate communications division.</li><br>
                  </ul>
 
 
 
 

              </p>
              
            </div>
          <br><br>

          <!--page footer-->
          <footer>
            <nav class="page-footer navbar">
              <a class="navbar-brand" href="https://www.instagram.com/tisunilag/?hl=en"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661281/instagram-16_ispxmg.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="mailto:ulsisinfo@mail.com"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/mail-11_k0jjg1.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="https://www.linkedin.com/company/tisunilag"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/linkedin-3-16_cvycew.png" alt="" srcset=""></a>
            </nav>
          </footer>
          <footer>
            <nav class="page-footer" style="color: #494747; font-size: 13px;">&copy; Copyright 2020 The Investment Society</nav>
          </footer>
          
      </div>
      

      
      
      
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
</body>
</html>