<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Homepage of The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>Home - The Investment society</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

  <body>
    <style>
      body{
    background: url(DSC_0521.jpg);
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .capture{
      padding: 10px;
      border-radius: 5px;
     font-family: 'Quicksand', sans-serif;
      }
      .capture h1{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder; 
        font-stretch: ultra-expanded; 
      font-size: 6rem; }

    .home-btn{
      width: 250px;
      height: 40px;
    }

    hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #8c8b8b00, #f0f0f0, #8c8b8b00);
  background-image: -moz-linear-gradient(left, #8c8b8b00, #f0f0f0, #8c8b8b00);
  background-image: -ms-linear-gradient(left, #8c8b8b00, #f0f0f0, #8c8b8b00);
  background-image: -o-linear-gradient(left, #8c8b8b00, #f0f0f0, #8c8b8b00); 
}
.icons1{
  font-size: 10px;
  width: 100%;
  height: auto;
  text-align: center;
}

.icons1 img {
  max-width: 50%;
  max-height: auto;
}
.register-link{
      color: rgb(160, 17, 70);
    }

    @media screen and (max-width:768px){
      body{
    background: url(DSC_0459.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    }
    

      .home-btn{
      width: 100%;
      height: 70%;
      font-size: 0.7em;
    }

    .capture h1{
      font-size: 3.5em;
    }

    .home-btn{
      width: 150px;
      height: 30px;
    }
    p{
      font-size: 1.2em;
    }

    }
    
    </style>

      <div class="content">
          <header class="header"><nav>
            <div class="logo-div">
              <img src="logo.png" alt="" class="img-fluid container logo">
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link active" href="/home">Home</a></li>
              <li class=""><a class="nav-link" href="/about">About us</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="https://tisunilag.typeform.com/to/NDO0dx">Join</a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item  actives" href="/home">Home</a>
                <a class="dropdown-item" href="about">About us</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/https://tisunilag.typeform.com/to/NDO0dx">Join</a>
              </div>
            </div>
          </nav>
        
        </header>


          <div class="container">
            <br>
           

            <div class="capture">
              <h1>The Investment Society</h1>
              <hr class="style14">
             <p>Welcome to the the fastest growing financial enthusiastic community in the University of Lagos, bridging the gap between theory and practice of finance.</p>
             <p>Click <a class="register-link" href="#">here</a> to subscribe to our Newsletter.</p>
             <br>
              
              <div class="row button-div">
                <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a></div>
                <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="https://tisunilag.typeform.com/to/NDO0dx">Become a member</a></div>
              </div>
            </div>
              <br>
            <div class="container row icons1">
              <div class="col-3"><img src="line-512.png" alt="line"><p>Investment banking</p></div>
              <div class="col-3"><img src="coins-512.png" alt="coins"><p>Securities</p></div>
              <div class="col-3"><img src="briefcase-6-512.png" alt="briefcase"><p>Consulting</p></div>
              <div class="col-3"><img src="idea-512.png" alt="illumination"><p>Alternative Investment</p></div>
            </div>
          </div>



          <!--page footer-->
          <footer>
            <nav class="page-footer navbar">
              <a class="navbar-brand" href="https://www.instagram.com/tisunilag/?hl=en"><img src="instagram.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="mailto:ulsisinfo@mail.com"><img src="mail-16.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="https://www.linkedin.com/company/tisunilag"><img src="linkedin.png" alt="" srcset=""></a>
            </nav>
          </footer>
          <footer>
            <nav class="page-footer" style="color: white; font-size: 10px;">&copy; Copyright 2020 The Investment Society</nav>
          </footer>
          <script>
              window.onload = function () {

              function changeImage() {  
                var mq = window.matchMedia( "(max-width: 768px)" );
                  if (mq.matches) {
                      // window width is at less than 768px
                      var BackgroundImg=["Tope.jpg",
                      "Blessing.jpg",
                      "Timi.jpg"]
                  }
                  else {
                      // window width is greater than 768px
                      var BackgroundImg=["DSC_0485.jpg",
                      "DSC_0499.jpg",
                      "team3.jpg"
                  ];
                  }
                  var i = Math.floor((Math.random() * 3));
                  document.body.style.backgroundImage = 'url("' + BackgroundImg[i] + '")';
                
              }
              window.setInterval(changeImage, 6500);
              }
          </script>
          
      </div>
      

      
      
      
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  </body>
</html>