<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Homepage of The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>Home - The Investment society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <style>
      body{
        text-align: center;
        
        font-family: 'Montserrat', sans-serif;
      }
      .mobile{
        display: none;
      }

     .welcome-header{
       font-family: poppins;
       font-weight: 900;
       font-stretch: expanded;
       font-size: 5rem;
     } 
     .ml9 {
  position: relative;
  font-weight: 200;
  font-size: 1.2em;
  color: #808080;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
    

    
      .h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder; 
        font-stretch: ultra-expanded;}

    .home-btn{
      width: 250px;
      height: 40px;
    }

    p.w{
      color: black;
      border-radius: 5px;
     font-family: 'Quicksand', sans-serif;
    }

    .w-bold{
      font-weight: 900;
      font-size: 1rem;
      color: rgb(160, 17, 70);
    }
    
   
    hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #8c8b8b00, #bbbbbb, #8c8b8b00);
  background-image: -moz-linear-gradient(left, #8c8b8b00, #bbbbbb, #8c8b8b00);
  background-image: -ms-linear-gradient(left, #8c8b8b00, #bbbbbb, #8c8b8b00);
  background-image: -o-linear-gradient(left, #8c8b8b00, #bbbbbb, #8c8b8b00); 
}
.icons1{
  font-size: 15px;
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: auto;
  text-align: center;
  color: #808080;
}

.icons1 img {
  max-width: 30%;
  max-height: auto;
  margin: auto;
  margin-bottom: 10px;
}

.icon-div{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.register-link{
      color: rgb(160, 17, 70);
    }

    @media screen and (max-width:768px){
      .mobile{
        display: block;
      }

      .welcome-header{
       font-size: 3rem;
     } 
    
     .ml9 {
  font-size: 1em;
}

      .desktop{
        display: none;
      }
    

      .home-btn{
      width: 100%;
      height: 70%;
      font-size: 0.7em;
    }

    

    .home-btn{
      width: 150px;
      height: 30px;
    }
    p{
      font-size: 1.2em;
    }

    }
    
    </style>

      <div class="content">
          <header class="header"><nav>
            <div class="logo-div">
         <a href="/home"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo"></a>     
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link active" href="/home">Home</a></li>
              <li class=""><a class="nav-link" href="/about">About us</a></li>
              <li class=""><a class="nav-link" href="/team">Team</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="/join">Join</a></li>
              <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item  actives" href="/home">Home</a>
                <a class="dropdown-item" href="/about">About us</a>
                <a class="dropdown-item" href="/team">Team</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/join">Join</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
            </div>
          </nav>
        
        </header>


        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade mobile" data-ride="carousel">
          
          <div class="carousel-inner">
            
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1592661269/DSC_0459_gsvefk.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h1 class="welcome-header">Welcome</h1>
                  <br>
                  <br>
                  <h2 class="h2">The Investment Society, Lagos</h2>
                  <br><br>
                     <a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a>
                     <br>
                     <br>
                    <a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a>
                </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1595886984/DSC_0342_llzog7.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1 class="welcome-header">Bienvenido</h1>
                <br>
                <br>
                <h2 class="h2">The Investment Society, Lagos</h2>
                <br><br>
                <a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a>
                     <br>
                     <br>
                    <a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1595886961/DSC_0490_hjdbst.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1 class="welcome-header">Willkommen</h1>
                <br>
                <br>
                <h2 class="h2">The Investment Society, Lagos</h2>
                <br><br>
                <a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a>
                     <br>
                     <br>
                    <a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1595886949/DSC_0386_lvp3kq.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1 class="welcome-header">Bienvenue</h1>
                <br>
                <br>
                <h2 class="h2">The Investment Society, Lagos</h2>
                <br><br>
                <a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a>
                     <br>
                     <br>
                    <a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a>
              </div>
            </div>
          </div>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade desktop" data-ride="carousel">
          
          <div class="carousel-inner">
            
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1592661293/team3_fmjxcm.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h1 class="welcome-header">Welcome</h1>
                  <br>
                  <br>
                  <h2 class="h2">The Investment Society, Lagos</h2>
                  <br><br>
                  <div class="row button-div">
                    <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a></div>
                    <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a></div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1592661271/DSC_0479_xcq9nq.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1 class="welcome-header">	Bienvenido</h1>
                <br>
                <br>
                <h2 class="h2">The Investment Society, Lagos</h2>
                <br><br>
                <div class="row button-div">
                  <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a></div>
                  <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/q_60/v1592661289/team2_phandy.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-md-block">
                <h1 class="welcome-header">Bienvenue</h1>
                <br>
                <br>
                <h2 class="h2">The Investment Society, Lagos</h2>
                <br><br>
                <div class="row button-div">
                  <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/about">Learn more</a></div>
                  <div class="col-6"><a class="btn home-btn btn-outline-secondary" role="button" href="/join">Become a member</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

          
          <br>
          <div class="container">
            
            <h1 class="ml9">
              <span class="text-wrapper">
                <span class="letters text-animation">The fastest growing financial enthusiastic community in the University of Lagos, bridging the gap between theory and practice of finance.</span>
              </span>
            </h1>
           </div>
          <hr class="style14">
          <div class="container row icons1">
            <div class="col-sm-3 icon-div" data-aos="fade-up"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1593898483/line-512_yvssj7.png" alt="line">
              <br>
              <span class="w w-bold">Investment Banking</span>
              <br>
              <span class="container">The investment banking division of TIS has the responsibility of
                mirroring actual investment banking activities through Mergers
                and Acquisitions and capital raising simulations.</span>
              <hr class="style14 mobile"></div>
            <div class="col-sm-3 icon-div" data-aos="fade-up"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1593898483/coins-512_uaoxaq.png" alt="coins">
              <br>
              <span class="w w-bold">Securities</span>
              <br>
              <span class="container">The securities division is responsible for researching, investing
                and trading different asset classes including Equities, Fixed
                Income, Currencies and Commodities on behalf of the society.</span>
              <hr class="style14 mobile"></div>
            <div class="col-sm-3 icon-div" data-aos="fade-up"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1593898482/briefcase-6-512_rhp3fv.png" alt="briefcase">
              <br>
              <span class="w w-bold">Consulting</span>
              <br>
              <span class="container">The management consulting division is poised with the
                responsibility of mirroring real life case situations and proffer solutions
                accordingly.</span>
              <hr class="style14 mobile"></div>
            <div class="col-sm-3 icon-div" data-aos="fade-up"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1593898483/idea-512_rvjmrh.png" alt="illumination">
              <br>
              <span  class="w w-bold">Alternative Investment</span>
            <br>
            <span class="container">This divisions is responsible for researching and discussing viable and alternative
              ways of investing.</span>
          </div>
              
          </div>
          <br>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-aos="fade-up">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="3000">
                  <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/c_scale,h_700,w_650/v1593954314/jobs_sqdten.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                    <h3><q>Innovation distinguishes between a leader and a follower.</q></h3>
                    <p>Steve Jobs</p>
                  </div>
                  
              </div>
              <div class="carousel-item" data-interval="10000">
                <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/c_scale,h_700,w_650/v1593889651/bezos_on9fio.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h3><q> The keys to success are patience, persistence, and obsessive attention to detail.</q></h3>
                  <p>Jeff Bezos</p>
                </div>
              </div>
              <div class="carousel-item" data-interval="10000">
                <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/c_scale,h_700,w_650/v1593954314/mark_lytqoa.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-md-block">
                  <h3><q>Unless you are breaking stuff, you are not moving fast enough.</q></h3>
                  <p>Mark Zuckerberg</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <p class="container w">Subscribe to our Newsletter <a class="register-link" href="#">here</a>.</p>
          


          <!--page footer-->
          <footer>
            <nav class="page-footer navbar">
              <a class="navbar-brand" href="https://www.instagram.com/tisunilag/?hl=en"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661281/instagram-16_ispxmg.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="mailto:ulsisinfo@mail.com"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/mail-11_k0jjg1.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="https://www.linkedin.com/company/tisunilag"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/linkedin-3-16_cvycew.png" alt="" srcset=""></a>
            </nav>
          </footer>
          <footer>
            <nav class="page-footer" style="color: #494747; font-size: 13px;">&copy; Copyright 2020 The Investment Society</nav>
          </footer>
          
      </div>
      

      
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>   
      <script>
        // Wrap every letter in a span
var textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
      </script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>