<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Events at The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society, Colloquium, Colloquium 2020">
    <meta name="author" content="Ani Chidera">
    <title>Colloquium - The Investment Society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

  <body>
    <style>
      body{
        text-align: start;
    }
    .main{
      width: 100%;
      height: auto;
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1599054790/Background_header_1_rm9atm.png');
      background-repeat: no-repeat;
    }
    textarea{
      box-sizing:border-box;
      height: 100px;
      width: 100%;
    }
    label, p {
    font-weight: 900;
}   
    p{
      font-size: .9rem;
      color: #AB324F;
    }
    .join-header{
      text-align: center;
      color: white;
      font-weight: 900;
    }
    .form-div{
      background-color: rgb(255, 255, 255);
      width: 50%;
      height: auto;
      box-shadow: 0px 0px 7px .2px rgba(0,0,0,0.2); 
      font-size: 0.78rem;
      font-weight: 300;
      padding: 30px 150px;
    }
    
    button{
      width: 100%;
      border-radius: 0!important;
      background-color: #AB324F!important;
    }

    .br{
      display: none;
    }
     

    input, select{
      background-color: rgb(255, 255, 255) !important;
      border: black;
    }

    @media screen and (max-width:768px){
    .main{
      display: block;
    }
    .heading{
      display: none;
    }

    .form-div{
      width: 100%;
      padding: 10px;
      box-shadow: none; 
    }

    .br{
      display: block;
    }
    }
    
    </style>

    

      <div class="content">
        <header class="header"><nav>
          <div class="logo-div">
            
         <a href="/home"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo"></a> 
          </div> 
          <ul class="nav nav-links">
            <li class=""><a class="nav-link " href="/home">Home</a></li>
            <li class=""><a class="nav-link" href="/about">About</a></li>
            <li class=""><a class="nav-link" href="/team">Team</a></li>
            <li class=""><a class="nav-link" href="/events">Events</a></li>
            <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
            <li class=""><a class="nav-link active" id="join-link" href="/join">Join Us </a></li>
           </ul>

           <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/home">Home</a>
              <a class="dropdown-item" href="/about">About</a>
              <a class="dropdown-item" href="/team">Team</a>
              <a class="dropdown-item" href="/events">Events</a>
              <a class="dropdown-item" href="/gallery">Gallery</a>
              <a class="dropdown-item actives" id="join-link" href="/join">Join Us</a>
            </div>
          </div>
        </nav>
      
      </header>
          

          <div class="main">
            <br><br><br>

            <h3 class="join-header">
              The Colloquium 2020
            </h3>
            <br><br class="br">
            <div class="form-div container">
              <form action="/register" method="POST" >

                <p>Fill this form to Register for the Colloquium</p>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="F-name-c">Name</label>
                        <input name="FirstName" type="text" class="form-control" id="F-name-c" aria-describedby="F-name-c" placeholder="First name" required>
                    </div>
    
                </div>
                <div class="row">
  
                  <div class="form-group col-12">
                      <input name="LastName" type="text" class="form-control" id="L-name-c" aria-describedby="L-name-c" placeholder="Last name" required>
                  </div>
              </div>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="Email-c">Email</label>
                        <input name="Email" type="email" class="form-control" id="Email-c" aria-describedby="email" placeholder="Email address" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="tel-c">Phone number</label>
                        <input name="Phone" type="tel" class="form-control" id="tel-c" aria-describedby="tel-c" placeholder="phone number" required>
                    </div>
    
                </div>
                <div class="row">

                  <div class="form-group col-sm-6">
                    <label for="inputLevel">Gender</label>
                    <select name="Gender" id="inputLevel" class="form-control">
                      <option value="Male">Male</option>
                      <option value="Female">female</option>
                      <option value="non-indicated">Prefer not to say</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="inputLevel">Nationality</label>
                    <select name="Nationality" id="inputLevel" class="form-control countriesList">
                    
                    </select>
                  </div>

                  <div class="form-group col-sm-12">
                    <label for="inputLevel">How did you hear about The Colloquium ?</label>
                    <select name="Media" id="inputLevel" class="form-control">
                      <option value="Social media">Social media</option>
                      <option value="friend">A friend</option>
                      <option value="email">Email</option>
                      <option value="web">Website</option>
                      <option value="referral">Referral</option>
                    </select>
                  </div>

                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Referral (For referrals)</label>
                          <textarea name="Referral"  cols="50" rows="5" placeholder="Enter fullname"></textarea>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="inputLevel">Status*</label>
                    <select name="Status" id="inputLevel" class="form-control">
                      <option value="Undergraduate">Undergraduate</option>
                      <option value="graduate">Recent graduate</option>
                      <option value="professional">Professional</option>
                    </select>
                  </div>


                  <div class="col-12">
                    <div clss="form-group">
                      <label>School (Undergraduates)*</label>
                      <textarea name="School"  cols="50" rows="2"></textarea>
                      </div>
                  </div>
    
                  <div class="col-12">
                    <div clss="form-group">
                      <label>Department (Undergraduates)*</label>
                      <textarea name="Department"  cols="50" rows="1"></textarea>
                      </div>
                  </div>
    
                      <div class="form-group col-sm-6">
                        <label for="inputLevel">Level (Undergraduates)</label>
                        <select name="Level" id="inputLevel" class="form-control">
                          <option value="100">1st year</option>
                          <option value="200">2nd year</option>
                          <option value="300">3rd year</option>
                          <option value="400+">4th year and above</option>
                        </select>
                      </div>

                    
                </div>

                <div class="row">
                  <div class="col-12">
                    <div clss="form-group">
                      <label>Industry (Recent graduates or professionals)*</label>
                      <textarea name="Industry"  cols="50" rows="5"></textarea>
                      </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div clss="form-group">
                      <label>Expectations of the conference*</label>
                      <textarea name="Expectation"  cols="50" rows="3"></textarea>
                      </div>
                  </div>
                </div>

                <br>
                <div class="btn-container">
                    <button type="submit" class="btn" style="background-color: #4f108aaf;">Register</button>
                </div>
            </form>
            </div>
          </div>

          <br>
          <br>
          <footer class="newsletter page-footer">
            <br><br>
            <form action="/action_page.php">
              <h6>Subscribe to our Newsletter</h6>
              <div class="form-group container">
                <input type="email" class="form-control input-subscribe" placeholder="Email Address" id="email">
                <br>
                <button type="submit" class="btn btn-primary btn-subscribe">Subscribe</button>
              </div>
              
              <br><br>
            </form>
          </footer>
          
      </div>
      

      
      
    
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  <script>
    let countries = ["United States", "Canada", "Afghanistan", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", 
    "Anguilla", "Antarctica", "Antigua and/or Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", 
    "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", 
    "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British lndian Ocean Territory", "Brunei Darussalam", 
    "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Cape Verde", "Cayman Islands", "Central African Republic", 
    "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Cook Islands", 
    "Costa Rica", "Croatia (Hrvatska)", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", 
    "East Timor", "Ecudaor", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", 
    "Faroe Islands", "Fiji", "Finland", "France", "France, Metropolitan", "French Guiana", "French Polynesia", "French Southern Territories", 
    "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala",
     "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard and Mc Donald Islands", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", 
     "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Ireland", "Israel", "Italy", "Ivory Coast", "Jamaica", "Japan", "Jordan", "Kazakhstan"
     , "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", 
     "Lao People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", 
     "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
      "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", 
      "Mongolia", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", 
      "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfork Island", "Northern Mariana Islands", "Norway", 
      "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", 
      "Puerto Rico", "Qatar", "Reunion", "Romania", "Russian Federation", "Rwanda", "Saint Kitts and Nevis", "Saint Lucia", 
      "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Seychelles", 
      "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia South Sandwich Islands",
       "Spain", "Sri Lanka", "St. Helena", "St. Pierre and Miquelon", "Sudan", "Suriname", "Svalbarn and Jan Mayen Islands", "Swaziland", 
       "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Togo", "Tokelau", 
       "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", 
       "United Arab Emirates", "United Kingdom", "United States minor outlying islands", "Uruguay", "Uzbekistan", "Vanuatu", 
       "Vatican City State", "Venezuela", "Vietnam", "Virigan Islands (British)", "Virgin Islands (U.S.)", "Wallis and Futuna Islands", 
       "Western Sahara", "Yemen", "Yugoslavia", "Zaire", "Zambia", "Zimbabwe"];


    let el = document.querySelector('.countriesList')
    
    countries.forEach(e => {
      el.insertAdjacentHTML('beforeend', '<option value=' + e + '>' + e + '</option>');
    })

   
  </script>
  </body>
</html>