<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="About The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>Team - The Investment Society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

  <body>
    <style>
      body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    font-family: 'Quicksand', sans-serif;
    }
    .container{
      color: #707070;
    }
    

    #mission-div{
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661298/mission_suzzff.png');
      height: 200px;
    }

    #vision-div{
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661311/vision_jyysku.png');
      height: 200px;
    }
    
    hr{
      border-top: 1px solid rgb(143, 142, 142);
    }
    h1, h2{
      color: white;
      font-weight: 300;
    }
    
    .wine{
      font-weight: 600;
      color: rgb(160, 17, 70);
    }
    h3, h6{
      color: #494747;
    }
    .h9{
      font-size: 20px;
    }
    h6, h4{
      font-weight: 900;
    }
    .div{
      height: auto;
      width: 100%;
      background-image: linear-gradient(to bottom right, rgb(160, 17, 70), #4614a0);
      padding: 10px;
      
    }

    .register-link{
      color: rgb(160, 17, 70);
    }

    
    @media screen and (max-width:768px){
      
   
     

    h1{
      font-size: 22px;
    }
    .h9{
      font-size: 15px;
    }
    h2{
      font-size: 20px;
    }

    .div{
      height: auto;
      width: 100%;
     
      padding: 10px;
      
    }
    

    }
    
    </style>

      <div class="content">
          <header class="header"><nav >
            <div class="logo-div">
              <img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo">
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link" href="/home">Home</a></li>
              <li class=""><a class="nav-link" href="/about">About us</a></li>
              <li class=""><a class="nav-link active" href="/team">Team</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="/join">Join</a></li>
              <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home">Home</a>
                <a class="dropdown-item" href="/about">About us</a>
                <a class="dropdown-item actives" href="/team">Team</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/join">Join</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
              </div>
            </div>
          </nav>
        
        </header>
        <br>
              <div class="team-div container">
                <div class="div div3" style="text-align: center;">
                  <h2>THE TEAM</h2>
                </div>
                <br>
                <div class="row card-deck">
                  <div class="card col-sm-6"  >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661297/Timi_dhu5wn.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Timileyin Idowu</h4>
                      <p class="card-text">President</p>
                    </div>
                  </div>

                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661264/Blessing_vvfmer.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Blessing Ojo</h4>
                      <p class="card-text">VP and Director, Corporate Communications</p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row card-deck">

                  <div class="card col-sm-4" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661281/Ezekiel_n1itdw.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Ezekiel Shojupe</h4>
                      <p class="card-text">Director, Programs</p>
                    </div>
                  </div>
                  <br>

                  <div class="card col-sm-4" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661287/Qaozara_zxuehu.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Qaozara Adepeju</h4>
                      <p class="card-text">Director, Management Consulting</p>
                    </div>
                  </div>
                  <br>
                  <div class="card col-sm-4" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661293/Tope_jv2pz1.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">TemiTope Aiyegbusi</h4>
                      <p class="card-text">Director, Media & Publicity</p>
                    </div>
                  </div>
              
                </div>
                <br>
                <div class="row card-deck">
                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title"></h4>
                      <p class="card-text">Director, Alternative Investments</p>
                    </div>
                  </div>

                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title"></h4>
                      <p class="card-text">Director, Human Resource</p>
                    </div>
                  </div>

                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Dr. Peter Amah</h4>
                      <p class="card-text">Staff Advisor</p>
                    </div>
                  </div>

                  
                </div>
                </div>
              
                
              </div>
            </div>
          <br><br>

          <!--page footer-->
          <footer>
            <nav class="page-footer navbar">
              <a class="navbar-brand" href="https://www.instagram.com/tisunilag/?hl=en"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661281/instagram-16_ispxmg.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="mailto:ulsisinfo@mail.com"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/mail-11_k0jjg1.png" alt="" srcset=""></a>
              <a class="navbar-brand" href="https://www.linkedin.com/company/tisunilag"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661282/linkedin-3-16_cvycew.png" alt="" srcset=""></a>
            </nav>
          </footer>
          <footer>
            <nav class="page-footer" style="color: #494747; font-size: 13px;">&copy; Copyright 2020 The Investment Society</nav>
          </footer>
          
      </div>
      

      
      
      
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  </body>
</html>