<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="About The Investment Society, Unilag.">
    <meta name="TIS, UNILAG, ULSIS, Investment, Investment Society">
    <meta name="author" content="Ani Chidera">
    <title>Team - The Investment Society</title>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661278/favicon_iul6xm.png">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
</head>

  <body>
    <style>
      body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    }
  
    h1, h2{
      color: white;
      font-weight: 300;
    }
  
    h3, h6{
      color: #494747;
    }
    .h9{
      font-size: 20px;
    }
    h6, h4{
      font-weight: 900;
    }
    .div{
      height: auto;
      width: 100%;
      background-image: url('https://res.cloudinary.com/theinvestmentsociety/image/upload/v1598365644/Background_header_ykzygz.png');
      padding: 10px;
      
    }
    .card-deck{
      width: 80%;
      margin: auto;
    }

    



    
    @media screen and (max-width:768px){
      
   
     

    h1{
      font-size: 22px;
    }
    .h9{
      font-size: 15px;
    }
    h2{
      font-size: 20px;
    }

    .div{
      height: auto;
      width: 100%;
     
      padding: 10px;
      
    }
    

    }
    
    </style>

      <div class="content">
          <header class="header"><nav >
            <div class="logo-div">
              
         <a href="/home"><img src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592743161/logo_1_bdallx.png" alt="" class="img-fluid container logo"></a> 
            </div> 
            <ul class="nav nav-links">
              <li class=""><a class="nav-link" href="/home">Home</a></li>
              <li class=""><a class="nav-link" href="/about">About</a></li>
              <li class=""><a class="nav-link active" href="/team">Team</a></li>
              <li class=""><a class="nav-link" href="/events">Events</a></li>
              <li class=""><a class="nav-link" href="/gallery">Gallery</a></li>
              <li class=""><a class="nav-link" id="join-link" href="/join">Join Us </a></li>
             </ul>

             <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle btn-special" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/home">Home</a>
                <a class="dropdown-item" href="/about">About</a>
                <a class="dropdown-item actives" href="/team">Team</a>
                <a class="dropdown-item" href="/events">Events</a>
                <a class="dropdown-item" href="/gallery">Gallery</a>
                <a class="dropdown-item" id="join-link" href="/join">Join Us</a>
              </div>
            </div>
          </nav>
        
        </header>
        <div class="div div3" style="text-align: center;">
          <br>
          <h2>Meet the team</h2>
          <br>
        </div>
              <div class="team-div container">
                
                <br>
                <div class="row card-deck">
                  <div class="card col-sm-6"  >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661297/Timi_dhu5wn.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Timileyin Idowu</h4>
                      <p class="card-text">President</p>
                    </div>
                  </div>
                  <br>
                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661264/Blessing_vvfmer.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Blessing Ojo</h4>
                      <p class="card-text">VP and Director, Corporate Communications</p>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row card-deck">
                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661281/Ezekiel_n1itdw.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Ezekiel Shojupe</h4>
                      <p class="card-text">Director, Programs</p>
                    </div>
                  </div>
                  <br>
                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661287/Qaozara_zxuehu.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Qaozara Adepeju</h4>
                      <p class="card-text">Director, Management Consulting</p>
                    </div>
                  </div>
                  <br>
                </div>
                <br>
                <div class="row card-deck">

                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Dr. Peter Amah</h4>
                      <p class="card-text">Staff Advisor</p>
                    </div>
                  </div>
                  <br>
                  <div class="card col-sm-6" >
                    <img class="card-img-top" src="https://res.cloudinary.com/theinvestmentsociety/image/upload/v1592661293/Tope_jv2pz1.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">TemiTope Aiyegbusi</h4>
                      <p class="card-text">Director, Media & Publicity</p>
                    </div>
                  </div>
                  <br>

                  
                </div>
                </div>
              
                
              </div>
            </div>
            <br><br>
            <br>
            <br>
            <footer class="newsletter page-footer">
              <br><br>
              <form action="/action_page.php">
                <h6>Subscribe to our Newsletter</h6>
                <div class="form-group container">
                  <input type="email" class="form-control input-subscribe" placeholder="Email Address" id="email">
                  <br>
                  <button type="submit" class="btn btn-primary btn-subscribe">Subscribe</button>
                </div>
                
                <br><br>
              </form>
            </footer>
          
      </div>
      

      
      
      
  <script src="nav.js"></script>   
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  </body>
</html>